.card {
  border: 2px solid lightgray;
  border-radius: 10px;
  width: 280px;
  padding: 12px;
  margin: 15px;
  text-align: left;
  background-color: white;
}

.card h2 {
  font-size: 1.4rem;
  margin-bottom: 4px;
}

.card h4 {
  color: gray;
  margin-top: 0;
  margin-bottom: 10px;
}

.card p {
  font-size: 0.9rem;
  line-height: 1.4;
}

.profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 8px;
}
